body {
    background-color: #e7e8e8;

}
main {
  margin: 1px;
  padding: 1px;
  display: inline-block;
  width: 95%;
}

#top-intro {
  border: 1px solid black;
  color: white;
  font-size: 20px;
  -webkit-text-stroke: 2px black;
  text-align: center;
  background-image: url("http://www.themesltd.com/iphone-img/bicycle.png");
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  position: relative;
  display: block;
}

#top-nav {
list-style-type: none;
text-align: left;
color: white;
}